.content-block ul li
{
    border-bottom: 1px solid #ccc;
}


.list-block .item-media
{

min-width: 10px;
}
.page-content img
{

    width: 100%;
    position: relative;

}
.page-content h3
{
    text-align: center;
    background-color:#f3f3f3;
}
.card 
{
    min-height: 300px;
    margin-bottom: 50px;
}
.swiper-wrapper img {
    width: 100%;
    position: relative;
    height: 300px;
}
.card-footer

{
  height: 100px;
}
.page-content h4
{
  position: absolute;
  top:-18px;
  background-color: #333;
padding: 2px;
  color: white;
}
.content-block-title
{
margin: 0px;
padding: 0px;
}
.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}   
.swiper-wrapper span
{
    margin: 0px;
}
